@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap"); // ***
@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap"); // ***
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

/**
 *  ^VARIABLES/COLORS
 */
$yellow: #edce09;
$brown: #a16b0b;
$black: #1f1f1f;
$grey: #d6d7d9;
$white: #fff;
$background: #f3ffff;


/**
 *  ^GLOBAL STYLES
 */
input,
textarea,
button,
select,
a { // Remove tap highlight on iOS
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
}
* {
    font-family: "Jockey One";
    -webkit-font-smoothing: antialiased;
}
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $black;
    scrollbar-color: $background black;
}
body, #root {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    background-size: cover;
    background-color: $black;
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^LOADING SPINNER
 */
.spinner {
    height: 100%;
    color: $yellow;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__content {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 0.85s ease-in-out 5;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^NAVIGATION BAR
 */
.nav {
    $self: &;
    height: 70px;
    width: 100vw;
    top: 0;
    z-index: 2;
    margin: auto;
    position: fixed;
    background-color: $background;
    &__container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

    }
    &__relink {
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        height: 60px;
        margin: 0 5px;
    }
    &__title {
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title-text {
        margin: 0;
        color: $black;
        font-size: 22px;
        font-weight: 700;
        font-family: "Graduate", sans-serif;
        line-height: 1.0;
        letter-spacing: -1px;
        word-spacing: 0px;
    }
    &__menu {
        height: 100%;
        display: none;
    }
    &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $black;
        font-size: 24px;
        font-weight: 500;
        font-family: "Jockey One";
        transition: 150ms ease-out;
        &:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 1px;
            display: block;
            transition: all 150ms ease;
            bottom: 25%;
        }
        &:hover::after {
            width: 80px;
            height: 3px;
            background-color: $yellow;
            margin: auto;
        }
    }
    &__hamburger { /* Hamburger Div for Mobile Users */
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
    }
    &__hamburger-button { /* Hamburger Button for Mobile Users */
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * { /* All Hamburger Button Lines */
            width: 30px;
            height: 3px;
            background-color: black;
            margin: 3px 0;
            transition: 300ms;
        }
        &--open { /* Modifier on Hamburger Button when Open */
            margin-right: 20px;
            z-index: 2;
            & >:nth-child(1) { /* Line 1 */
                transform: translateY(8.5px) rotate(45deg);
            }
            & >:nth-child(2) {/* Line 2 */
                opacity: 0;
            }
            & >:nth-child(3) { /* Line 3 */
                transform: translateY(-8.5px) rotate(-45deg);
            }
        }
    }
    &--mobile { /* Nav Modifier for Mobile Devices */
        height: 400px;
        width: calc(100vw - 60px);
        margin: 10px 30px 0 30px;
        border-radius: .75rem;
        background-color: rgba(219, 219, 219, 0.98);
        position: fixed;
        top: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        will-change: transform;
        animation-name: slideIn-right;
        animation-duration: 150ms;
        animation-timing-function: linear;
        animation-fill-mode: both;
        -webkit-animation-name: slideIn-right;
        -webkit-animation-duration: 150ms;
        -moz-animation-name: slideIn-right;
        -moz-animation-duration: 150ms;
        -o-animation-name: slideIn-right;
        -o-animation-duration: 150ms;
        #{ $self }__menu-items {
            height: 350px;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: 50px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            li {
                width: 100%;
                &:nth-child(1n+2) { /* Creates Dividing Borders for Mobile Links */
                    border-top: solid 2px $black;
                }
                & a {
                    width: 100%;
                    height: 115.5px;
                }
            }
        }
    }
    &__mobile-background { /* Mobile Background Element when Hamburger Button is Opened */
        height: 100vh;
        width: 100vw;
        top: 0;
        z-index: 1;
        position: fixed;
        background-color: rgba(31, 31, 31, 0.92);
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^Intro
 */
.intro {
    height: 460px;
    margin: 70px 0 0 0;
    box-sizing: border-box;
    width: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../public/img/interior.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__title {
        max-width: 1200px;
        color: $background;
        font-size: 44px;
        font-family: "Graduate", sans-serif;
        letter-spacing: -2px;
        text-align: center;
        animation-duration: 1600ms;
        opacity: 0;
        /* box-shadow: 10px 10px 10px 10px #d6d7d9; */
    }
    &__image {
        position: absolute;
        z-index: 0;
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^Main Section
 */
.section {
    $self: &;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__info {
        font-family: "Jockey One";
        color: $grey;
        opacity: 0;
        max-width: 500px;
        font-size: 18px;
        margin: 0 0 20px 0;
    }
    &__img {
        opacity: 0;
        width: calc(100vw - 60px);
        max-width: 460px;
        max-height: 380px;
        margin: 0 0 60px 0;
    }
    &--1 {
        #{ $self }__title {
            color: $yellow;
            font-weight: 500;
            font-family: "Jockey One", sans-serif;
            text-align: center;
            opacity: 0;
            animation-delay: 400ms;
        }
        #{ $self }__info {
            animation-delay: 600ms;
        }
        #{ $self }__img {
            animation-delay: 600ms;
        }
    }
    &--2 {
        #{ $self }__group {
            opacity: 0;
        }
        #{ $self }__title {
            color: $yellow;
            font-weight: 500;
            font-family: "Jockey One", sans-serif;
            text-align: center;
        }
        #{ $self }__info {
            font-family: "Jockey One", sans-serif;
            color: $grey;
            opacity: 1;
        }
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^OWNER SECTION
 */
.owner {
    color: $grey;
    background-color: black;
    scroll-margin-top: 70px;
    padding: 60px 25px;
    &__container {
        margin: 0;
    }
    &__title {
        color: $yellow;
        font-size: 44px;
        margin: 0 0 20px 0;
    }
    &__p {
        margin: 0 0 20px 0;
        font-size: 18px;
        line-height: 1.1;
        overflow-wrap: break-word;
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^CONTACT SECTION
 */
.contact {
    width: 100%;
    padding: 60px 0;
    color: $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        color: $yellow;
        margin: 0;
        font-size: 44px;
        font-weight: 500;
        font-family: "Jockey One", sans-serif;
    }
    &__section {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__group1, &__group2 {
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }
    &__times, &__details {
        margin: 0;
    }
    &__times-title {
        font-size: 23px;
        font-weight: 600;
    }
    &__line {
        width: 230px;
        color: $yellow;
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^PAGE FOOTER
 */
.footer {
    height: 340px;
    color: $background;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &__info {
        height: 160px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__title {
        color: $yellow;
        margin: 14px 0;
        font-family: "Play", sans-serif;
    }
    &__link {
        height: 22px;
        font-size: 20px;
        color: $background;
        font-family: "Play", sans-serif;
        text-decoration: underline transparent;
        &:hover {
            color: $yellow;
            text-decoration: underline $yellow;
        }
        &--facebook:before {
            font-family: FontAwesome;
            content: "\f09a";
        }
        &--phone:before {
                font-family: FontAwesome;
                content: "\f095";
        }
        &--location:before {
                font-family: FontAwesome;
                content: "\f041";
        }
    }
    &__copyright {
        float: right;
        color: $background;
        margin: 0;
        text-align: center;
        font-family: "Play", sans-serif;
        &__creator {
            color: white;
            font-family: "Play", sans-serif;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: $yellow;
            }
        }
    }
}

/* ======================================================================== */
/* ======================================================================== */
/**
 * ^ANIMATION CLASSES
 */
.animate1 { /* Animation for Mobile; slides from Bottom */
    will-change: transform;
    animation-name: slideIn-bottom;
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-name: slideIn-bottom;
    -webkit-animation-duration: 800ms;
    -moz-animation-name: slideIn-bottom;
    -moz-animation-duration: 800ms;
    -o-animation-name: slideIn-bottom;
    -o-animation-duration: 800ms;
}
.animate4 { /* Animation for Mobile; slides from Top */
    will-change: transform;
    animation-iteration-count: 1;
    animation-name: slideIn-top;
    animation-duration: 600ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-name: slideIn-top;
    -webkit-animation-duration: 600ms;
    -moz-animation-name: slideIn-top;
    -moz-animation-duration: 600ms;
    -o-animation-name: slideIn-top;
    -o-animation-duration: 600ms;
}




/* ======================================================================== */
/* ======================================================================== */
/**
 *  ^Media Queries that Specify Certain Screen Sizes.
 *  ^This Allows For Responsive Design and different layout styles.
 */
/* For Mobile */
@media only screen and (min-width: 30px) and (max-width: 849px) {

    .section {
        $self: &;
        &--1 {
            #{ $self }__title {
                width: calc(100vw - 60px);
                font-size: 34px;
                font-weight: 500;
                font-family: "Jockey One", sans-serif;
                text-align: center;
                margin: 60px 0 20px 0;
            }
        }
        &--2 {
            scroll-margin: 90%;
            #{ $self }__group {
                scroll-margin: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
            #{ $self }__title {
                font-size: 34px;
                font-weight: 500;
                margin: 0 0 20px 0;
            }
            #{ $self }__info {
                font-family: "Jockey One";
                color: $grey;
                border-radius: 1rem;
                margin: 0 0 20px 0;
            }
        }
    }
}




/**
 *  ^Media Queries that Specify Certain Screen Sizes.
 *  ^This Allows For Responsive Design and different layout styles.
 */
/* For Desktop */ /* ====================================================== */
@media only screen and (min-width: 850px) {
    .nav {
        height: 80px;
        &__relink {
            height: 100%;
        }
        &__logo {
            height: 80px;
            margin: 0 20px;
        }
        &__title {
            width: 220px;
        }
        &__title-text {
            font-size: 32px;
            letter-spacing: -2px;
            word-spacing: -8px;
        }
        &__hamburger {
            display: none;
        }
        &__menu {
            height: 80px;
            width: 30%;
            /* min-width: 500px; */
            max-width: 700px;
            display: flex;
        }
        &__link {
            width: 33.3%;
            text-align: center;
        }
    }

    .intro {
        height: 630px;
        margin: 80px 0 0 0;
        &__title {
            font-size: 64px;
        }
    }

    .section {
        $self: &;
        margin: auto;
        height: 600px;
        max-width: 1200px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__group {
            /* max-width: 1200px; */
        }
        &__info {
            width: calc((100vw - 60px) / 2.25);
            max-width: 500px;
            max-height: 450px;
            font-size: 1.4rem;
            line-height: 2.4rem;
            word-spacing: 3px;
            text-align: center;
        }
        &__img {
            max-width: 500px;
            width: calc((100vw - 60px) / 2.25);
            max-height: 460px;
            margin: 0;
        }
        &--1 {
            height: 660px;
            /* width: 100%; */
            /* max-width: 1200px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            #{ $self }__title {
                height: 50px;
                font-size: 48px;
                font-weight: 500;
                font-family: "Jockey One", sans-serif;
                text-align: center;
                margin: 0 0 100px 0;
            }
            #{ $self }__group {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        &--2 {
            #{ $self }__title {
                height: 50px;
                font-size: 48px;
                font-weight: 500;
                font-family: "Jockey One", sans-serif;
                text-align: center;
                margin: 0 0 60px 0;
            }
            #{ $self }__group {
                opacity: 0;
            }
            .about {
                scroll-margin-top: 30vh;
            }
        }
    }

    .owner {
        color: $background;
        background-color: black;
        scroll-margin-top: 20vh;
        padding: 60px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &__container {
            width: 760px;
            margin: 0 0 24px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__title {
            font-size: 48px;
            margin: 0 0 60px 0;
        }
        &__p {
            width: 100%;
            margin: 0 0 24px 0;
            font-size: 18px;
            line-height: 1.4rem;
            letter-spacing: 0.85px;
            word-spacing: 2px;
            overflow-wrap: break-word;
        }
    }

    .contact {
        &__section {
            width: 760px;
            height: 200px;
            flex-direction: row;
        }
    }

    .footer {
        height: 240px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        &__info {
            width: 300px;
        }
        &__copyright {
            width: 300px;
        }
    }

    .animate2 { /* Animation for Desktop; slides from Left */
        will-change: transform;
        animation-name: slideIn-left;
        animation-duration: 600ms;
        animation-timing-function: ease;
        animation-fill-mode: both;
        -webkit-animation-name: slideIn-left;
        -webkit-animation-duration: 600ms;
        -moz-animation-name: slideIn-left;
        -moz-animation-duration: 600ms;
        -o-animation-name: slideIn-left;
        -o-animation-duration: 600ms;
    }
    .animate3 { /* Animation for Desktop; slides from Right */
        will-change: transform;
        animation-iteration-count: 1;
        animation-name: slideIn-right;
        animation-duration: 600ms;
        animation-timing-function: ease;
        animation-fill-mode: both;
        -webkit-animation-name: slideIn-right;
        -webkit-animation-duration: 600ms;
        -moz-animation-name: slideIn-right;
        -moz-animation-duration: 600ms;
        -o-animation-name: slideIn-right;
        -o-animation-duration: 600ms;
    }
}




/* ======================================================================== */
/* ======================================================================== */
/**
 *  ^All Style Animations / Keyframes
 */
/* Slide from Top */
@keyframes slideIn-top {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes slideIn-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

/* Slide from Bottom */
@keyframes slideIn-bottom {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes slideIn-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20%);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

/* Slide from Left */
@keyframes slideIn-left {
    0% {
        opacity: 0;
        transform: translate3d(-60%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes slideIn-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-60%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

/* Slide from Right */
@keyframes slideIn-right {
    0% {
        opacity: 0;
        transform: translate3d(60%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes slideIn-right {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(60%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}
