@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

/**
 *  ^VARIABLES AND COLORS
 */
$yellow: #edce09;
$brown: #a16b0b;
$black: #1f1f1f;
$grey: #d6d7d9;
$white: #fff;
$background: #f3ffff;

/**
 *  ^GLOBAL STYLES
 */
// Remove tap highlight on iOS
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
* {
    font-family: "Jockey One";
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
}
html {
    /* height: 100%; */
    background-color: $black;
    scrollbar-color: $background black;
    /* overflow: hidden; */
}
html{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body, #root{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}
body {
    /* height: 100vh;
    width: 100%; */
    /* overflow: auto; */
    margin: 0;
    background-size: cover;
    background-color: $black;
    /* background-image: linear-gradient(180deg, $background 2%, $black 98%); */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
}
main {
    overflow: hidden;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
a {
    text-decoration: none;
}




/* ======================================================================== */
/* ======================================================================== */
/**
 * ^LOADING SPINNER
 */
.spinner {
    height: 100%;
    color: $yellow;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__content {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 0.85s ease-in-out 5;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^NAVIGATION BAR
 */
.nav {
    $self: &;
    width: 100vw;
    top: 0;
    z-index: 2;
    margin: auto;
    position: fixed;
    background-color: $background;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    &__relink { /* Navigation Logo and Company Title */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* &__logo {
        height: 90px;
    } */
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title-text {
        font-weight: 700;
        font-family: "Graduate", sans-serif;
        color: $black;
        margin: 0;
    }
    &__hamburger { /* Responsive Hamburger Button for Mobile Users */
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
    }
    &__hamburger-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
        margin-right: 30px;
        display: none;
        flex-direction: column;
        align-items: center;
        & > * {
            width: 30px;
            height: 3px;
            background-color: black;
            margin: 3px 0;
            transition: 300ms;
        }
        &--open {
            z-index: 2;
            & >:nth-child(1) {
                transform: translateY(8.5px) rotate(45deg);
            }
            & >:nth-child(2) {
                opacity: 0;
            }
            & >:nth-child(3) {
                transform: translateY(-8.5px) rotate(-45deg);
            }
        }
    }
    &__menu { /* Menu for Nav Links */
        height: 100%;
        display: flex;
        margin-left: auto;
    }
    &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $black;
        font-size: 24px;
        font-weight: 500;
        font-family: "Jockey One";
        transition: 150ms ease-out;
        &:hover {
            color: $yellow;
            background-color: $black;
            transition: 150ms ease-in;
        }
    }
    &__mobile-background { /* Mobile Modifier When Hamburger Button is Pressed, Menu is Opened */
        height: 100vh;
        width: 100vw;
        top: 0;
        z-index: 1;
        position: fixed;
        background-color: rgba(31, 31, 31, 0.92);
    }
    &--mobile {
        height: 400px;
        width: calc(100vw - 60px);
        border-radius: .75rem;
        background-color: rgba(219, 219, 219, 0.98);
        position: fixed;
        top: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        will-change: transform;
        animation-name: slideIn-right;
        animation-duration: 150ms;
        animation-timing-function: linear;
        animation-fill-mode: both;
        -webkit-animation-name: slideIn-right;
        -webkit-animation-duration: 150ms;
        -moz-animation-name: slideIn-right;
        -moz-animation-duration: 150ms;
        -o-animation-name: slideIn-right;
        -o-animation-duration: 150ms;
        #{ $self }__menu-items {
            height: 350px;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: 50px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            li {
                width: 100%;
                &:nth-child(1n+2) { // Creates border for all elements, but skips the first one.
                    border-top: solid 2px $black;
                }
            }
        }
        #{ $self }__hamburger {
            padding: 20px;
        }
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^Intro
 */
.intro {
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../public/img/interior.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__title {
        max-width: 1200px;
        color: $background;
        font-size: 64px;
        font-family: "Graduate", sans-serif;
        letter-spacing: -2px;
        text-align: center;
        animation-duration: 1600ms;
        opacity: 0;
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^Main Section
 */
.section {
    $self: &;
    margin: auto;
    text-align: center;
    &__info {
        font-family: "Jockey One";
        color: $grey;
        margin: 0;
        opacity: 0;
    }
    &__img {
        opacity: 0;
    }
    &--1 {
        #{ $self }__title {
            color: $yellow;
            font-weight: 500;
            font-family: "Jockey One", sans-serif;
            text-align: center;
            opacity: 0;
            animation-delay: 400ms;
        }
        #{ $self }__info {
            animation-delay: 600ms;
        }
        #{ $self }__img {
            animation-delay: 600ms;
        }
    }
    &--2 {
        /* #{ $self }__group {
            opacity: 0;
        } */
        #{ $self }__title {
            color: $yellow;
            font-weight: 500;
            font-family: "Jockey One", sans-serif;
            text-align: center;
        }
        #{ $self }__info {
            font-family: "Jockey One", sans-serif;
            color: $grey;
            opacity: 1;
        }
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^OWNER SECTION
 */
.owner {
    color: $grey;
    background-color: black;
    &__container {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        color: $yellow;
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^CONTACT SECTION
 */
.contact {
    height: 65vh;
    width: 100%;
    color: $grey;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        color: $yellow;
        font-size: 48px;
        font-weight: 500;
        font-family: "Jockey One", sans-serif;
        text-align: center;
        margin: 20px 0;
    }
    &__section {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__group1, &__group2 {
        width: 45%;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
    }
    &__line {
        width: 230px;
        color: $yellow;
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^PAGE FOOTER
 */
.footer {
    width: 100%;
    color: $background;
    background-color: black;
    &__info { /* Footer Information Section */
        height: 160px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__title { /* Footer Title */
        color: $yellow;
        margin: 14px 0;
        font-family: "Play", sans-serif;
    }
    &__link { /* Footer Links */
        height: 22px;
        font-size: 20px;
        color: $background;
        font-family: "Play", sans-serif;
        text-decoration: underline transparent;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: $yellow;
            text-decoration: underline $yellow;
        }
        &--facebook:before {
            font-family: FontAwesome;
            content: "\f09a";
        }
        &--phone:before {
                font-family: FontAwesome;
                content: "\f095";
        }
        &--location:before {
                font-family: FontAwesome;
                content: "\f041";
        }
    }
    &__copyright { /* Copyright Tag */
        float: right;
        color: $background;
        margin: 0;
        text-align: center;
        font-family: "Play", sans-serif;
    }
}

.animate1 {
    will-change: transform;
    animation-name: slideIn-bottom;
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-name: slideIn-bottom;
    -webkit-animation-duration: 800ms;
    -moz-animation-name: slideIn-bottom;
    -moz-animation-duration: 800ms;
    -o-animation-name: slideIn-bottom;
    -o-animation-duration: 800ms;
}





/* ======================================================================== */
/* ======================================================================== */
/**
 *  ^Media Queries that Specify Certain Screen Sizes.
 *  ^This Allows For Responsive Design and different layout styles.
 */
/* For Mobile */
@media only screen and (min-width: 30px) and (max-width: 849px) {
    .nav {
        $self: &;
        height: 70px;
        &__logo {
            height: 60px;
            margin: 0 5px;
        }
        &__title {
            /* height: 100px; */
            width: 160px;
        }
        &__title-text {
            font-size: 22px;
            line-height: 1.0;
            letter-spacing: -1px;
            word-spacing: 0px;
        }
        &__hamburger-button {
            display: flex;
        }
        &__menu {
            display: none;
        }
        &--mobile {
            margin: 10px 30px 0 30px;
            display: flex;
            #{ $self }__link {
                width: 100%;
                height: 115.5px;
            }
        }
    }

    .intro {
        height: 460px;
        margin: 70px 0 0 0;
        &__title {
            font-size: 44px;
        }
    }

    .section {
        $self: &;
        /* height: 640px; */
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        &__info {
            width: calc(100vw - 60px);
            max-width: 500px;
            font-size: 20px;
            margin: 0 0 60px 0;
        }
        &__img {
            width: calc(100vw - 60px);
            max-width: 460px;
            max-height: 380px;
            margin: 0 0 60px 0;
            opacity: 1;
        }
        &--1 {
            /* height: 710px; */
            /* width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch; */
            #{ $self }__title {
                width: calc(100vw - 60px);
                font-size: 34px;
                font-weight: 500;
                font-family: "Jockey One", sans-serif;
                /* font-family: "Graduate", sans-serif; */
                /* letter-spacing: -3px; */
                text-align: center;
                margin: 60px 0 20px 0;
            }
            /* #{ $self }__info {
                margin: 0 0 40px 0;
            } */
        }
        &--2 {
            scroll-margin: 90%;
            #{ $self }__group {
                scroll-margin: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
            #{ $self }__title {
                font-size: 34px;
                font-weight: 500;
                margin: 0 0 20px 0;
            }
            #{ $self }__info {
                font-family: "Jockey One";
                color: $grey;
                border-radius: 1rem;
                margin: 0 0 20px 0;
            }
        }
    }

    .owner {
        scroll-margin-top: 70px;
        padding: 40px 25px 60px 25px;
        &__container {
            height: 100%;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__title {
            font-size: 44px;
            margin: 0 auto 22px 0;
        }
        &__p {
            width: 100%;
            margin: 0 0 22px 0;
            font-size: 18px;
            line-height: 1.2;
            overflow-wrap: break-word;
        }
    }

    .contact {
        height: 340px;
        width: 100%;
        padding: 40px 0 60px 0;
        background-color: $black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__title {
            color: $yellow;
            font-size: 44px;
            font-weight: 500;
            font-family: "Jockey One", sans-serif;
            text-align: center;
            margin: 0;
        }
        &__section {
            width: 90%;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__group1, &__group2 {
            width: 100%;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
        }
        &__times-title {
            font-size: 23px;
            font-weight: 600;
        }
        &__times, &__details {
            margin: 0;
        }
    }

    .footer {
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        &__info {
            font-size: 16px;
        }
        &__copyright {
            width: 90%;
        }
    }

    .animate-mobile {
        will-change: transform;
        animation-name: slideIn-bottom;
        animation-duration: 800ms;
        animation-timing-function: ease;
        animation-fill-mode: both;
        -webkit-animation-name: slideIn-bottom;
        -webkit-animation-duration: 800ms;
        -moz-animation-name: slideIn-bottom;
        -moz-animation-duration: 800ms;
        -o-animation-name: slideIn-bottom;
        -o-animation-duration: 800ms;
    }
}



/* For Desktop */ /* ====================================================== */
@media only screen and (min-width: 850px) {
    .nav {
        height: 100px;
        &__logo {
            height: 90px;
            margin-left: 20px;
            margin-right: 20px;
        }
        &__title {
            height: 100px;
            width: 220px;
        }
        &__title-text {
            font-size: 32px;
            letter-spacing: -2px;
            word-spacing: -8px;
        }
        &__hamburger {
            display: none;
        }
        &__menu {
            min-width: 500px;
            width: 100%;
            max-width: 700px;
        }
        &__link {
            width: 33.33%;
            height: 100%;
        }
        &--mobile {
            margin: 26px 30px 0 30px;
        }
    }

    .intro {
        height: 630px;
        margin: 100px 0 0 0;
    }

    .section {
        $self: &;
        height: 600px;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &__info {
            width: calc((100vw - 60px) / 2.25);
            max-width: 500px;
            max-height: 450px;
            font-size: 1.4rem;
            line-height: 2.4rem;
            word-spacing: 3px;
            text-align: center;
        }
        &__img {
            max-width: 500px;
            width: calc((100vw - 60px) / 2.25);
            max-height: 460px;
        }
        &--1 {
            height: 660px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            #{ $self }__title {
                height: 50px;
                font-size: 48px;
                font-weight: 500;
                font-family: "Jockey One", sans-serif;
                /* font-family: "Graduate", sans-serif; */
                /* letter-spacing: -3px; */
                text-align: center;
                margin: 0 0 60px 0;
            }
            #{ $self }__group {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }
        &--2 {
            #{ $self }__group {
                opacity: 0;
            }
            #{ $self }__title {
                height: 50px;
                font-size: 48px;
                font-weight: 500;
                font-family: "Jockey One", sans-serif;
                text-align: center;
                margin: 0 0 60px 0;
            }
            .about {
                scroll-margin-top: 30vh;
            }
        }
    }

    .owner {
        color: $background;
        background-color: black;
        scroll-margin-top: 20vh;
        padding: 60px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &__container {
            width: 760px;
            margin: 0 0 24px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* font-size: 1.4rem;
            line-height: 2.4rem; */
        }
        &__title {
            font-size: 48px;
            margin: 0 0 60px 0;
        }
        &__p {
            width: 100%;
            margin: 0 0 24px 0;
            font-size: 18px;
            line-height: 1.4rem;
            letter-spacing: 0.85px;
            word-spacing: 2px;
            overflow-wrap: break-word;
        }
    }

    .contact {
        height: 40vh;
        &__section {
            width: 760px;
            height: 200px;
        }
    }

    .footer {
        height: 240px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        &__info {
            width: 300px;
        }
        &__copyright {
            width: 300px;
        }
    }

    .animate2 {
        will-change: transform;
        animation-name: slideIn-left;
        animation-duration: 1000ms;
        animation-timing-function: ease;
        animation-fill-mode: both;
        -webkit-animation-name: slideIn-left;
        -webkit-animation-duration: 1000ms;
        -moz-animation-name: slideIn-left;
        -moz-animation-duration: 1000ms;
        -o-animation-name: slideIn-left;
        -o-animation-duration: 1000ms;
    }
    .animate3 {
        will-change: transform;
        animation-iteration-count: 1;
        animation-name: slideIn-right;
        animation-duration: 1000ms;
        animation-timing-function: ease;
        animation-fill-mode: both;
        -webkit-animation-name: slideIn-right;
        -webkit-animation-duration: 1000ms;
        -moz-animation-name: slideIn-right;
        -moz-animation-duration: 1000ms;
        -o-animation-name: slideIn-right;
        -o-animation-duration: 1000ms;
    }
}



/* ======================================================================== */
/**
 *  ^All Style Animations, Including
 *  ^Keyframes and Special Classes
 */
/* Slide In From Top Animation */
.animate-slideIn-top {
    will-change: transform;
    animation-name: slideIn-top;
    animation-duration: 600ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-name: slideIn-top;
    -webkit-animation-duration: 600ms;
    -moz-animation-name: slideIn-top;
    -moz-animation-duration: 600ms;
    -o-animation-name: slideIn-top;
    -o-animation-duration: 600ms;
}
@keyframes slideIn-top {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes slideIn-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}
/* Slide In From Bottom Animation */
.animate-slideIn-bottom {
    will-change: transform;
    animation-name: slideIn-bottom;
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-name: slideIn-bottom;
    -webkit-animation-duration: 800ms;
    -moz-animation-name: slideIn-bottom;
    -moz-animation-duration: 800ms;
    -o-animation-name: slideIn-bottom;
    -o-animation-duration: 800ms;
}
@keyframes slideIn-bottom {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes slideIn-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}
/* Slide In From Left Animation */
.animate-slideIn-left {
    will-change: transform;
    animation-name: slideIn-left;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-name: slideIn-left;
    -webkit-animation-duration: 1000ms;
    -moz-animation-name: slideIn-left;
    -moz-animation-duration: 1000ms;
    -o-animation-name: slideIn-left;
    -o-animation-duration: 1000ms;
}
@keyframes slideIn-left {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes slideIn-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}
/* Slide In From Right Animation */
.animate-slideIn-right {
    will-change: transform;
    animation-iteration-count: 1;
    animation-name: slideIn-right;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-name: slideIn-right;
    -webkit-animation-duration: 1000ms;
    -moz-animation-name: slideIn-right;
    -moz-animation-duration: 1000ms;
    -o-animation-name: slideIn-right;
    -o-animation-duration: 1000ms;
}
@keyframes slideIn-right {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes slideIn-right {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}
