@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

/**
 *  ^VARIABLES AND COLORS
 */
$yellow: #edce09;
$brown: #a16b0b;
$black: #1f1f1f;
$grey: #d6d7d9;
$white: #fff;
$background: #f3ffff;


/**
 *  ^GENERAL STYLES
 */
// Remove tap highlight on iOS
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
    font-family: "Jockey One";
    -webkit-font-smoothing: antialiased;
}

html {
    /* background-image: url("../public/img/grass.jpg");
    background-repeat: repeat; */
    background-color: $black;
    scrollbar-color: $background black;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

body {
    width: 100%;
    /* height: 100vh; */
    /* overflow: hidden; */
    margin: 0;
    background-size: cover;
    background-color: $black;
    /* background-image: linear-gradient(180deg, $background 2%, $black 98%); */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

main {
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
}




/* ======================================================================== */
/* ======================================================================== */
/**
 * ^LOADING SPINNER
 */
.spinner {
    color: $yellow;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.spinner-content {
    /* border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db; */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 0.85s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^NAVIGATION BAR
 */
.nav {
    $self: &;
    height: 100px;
    width: 100%;
    top: 0px;
    z-index: 2;
    position: fixed;
    background-color: $background;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    /* Navigation Logo and Company Title */
    &__relink {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        height: 90px;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title-text {
        font-weight: 700;
        font-family: "Graduate", sans-serif;
        color: $black;
        margin: 0;
        color: $black;
    }

    /* Responsive Hamburger Button for Mobile Users */
    &__hamburger {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
    }
    &__hamburger-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
        margin-right: 30px;
        display: none;
        flex-direction: column;
        align-items: center;
        /* &:active {
            -webkit-tap-highlight-color: none;
        } */
        & > * {
            width: 30px;
            height: 3px;
            background-color: black;
            margin: 3px 0;
            transition: 300ms;
        }
        &--open {
            z-index: 2;
            & >:nth-child(1) {
                transform: translateY(8.5px) rotate(45deg);
            }
            & >:nth-child(2) {
                opacity: 0;
            }
            & >:nth-child(3) {
                transform: translateY(-8.5px) rotate(-45deg);
            }
        }
    }

    &__menu {
        height: 100%;
        display: flex;
        margin-left: auto;
    }
    &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $black;
        font-size: 24px;
        font-weight: 500;
        font-family: "Jockey One";
        &:hover {
            color: $yellow;
            background-color: $black;
            transition: 100ms ease-in;
        }
    }

    /* Mobile Modifier When Hamburger Button
    is Pressed, Menu is Opened*/
    &--mobile {
        height: 400px;
        width: calc(100% - 60px);
        border-radius: .75rem;
        margin: 26px 30px 0 30px;
        background-color: rgba(219, 219, 219, 0.98);
        position: fixed;
        top: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        will-change: transform;
        animation-name: slideInRight;
        animation-duration: 150ms;
        animation-timing-function: linear;
        animation-fill-mode: both;
        -webkit-animation-name: slideInRight;
        -webkit-animation-duration: 150ms;
        -moz-animation-name: slideInRight;
        -moz-animation-duration: 150ms;
        -o-animation-name: slideInRight;
        -o-animation-duration: 150ms;
        #{ $self }__menu-items {
            height: 350px;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            li {
                width: 100%;
                &:nth-child(1n+2) { // Creates border for all elements, but skips the first one.
                    border-top: solid 2px $black;
                }
            }
        }
        #{ $self }__hamburger {
            padding: 20px;
        }
    }
    &__mobile-background {
        height: 100vh;
        width: 100vw;
        top: 0;
        z-index: 1;
        position: fixed;
        background-color: rgba(31, 31, 31, 0.92);
    }
}



/* ======================================================================== */
/* ======================================================================== */
/**
 * ^Main Section
 */
main {
    margin-top: 100px;
}
.section {
    $self: &;
    margin: auto;
    &__info {
        font-family: "Jockey One";
        color: $grey;
        margin: 0;
        /* opacity: 0; */
        z-index: 0;
    }
    &__img {
        /* border-radius: 1rem; */
        opacity: 0;
        z-index: 0;
        box-shadow: 0 6px 30px 0 rgba(206, 206, 206, 0.5);
    }

    &--2 {
        /* #{ $self }__img {
            display: none;
        } */
        #{ $self }__group {
            opacity: 0;
        }
        #{ $self }__title {
            /* height: 60px; */
            color: $yellow;
            font-size: 40px;
            font-weight: 500;
            font-family: "Jockey One", sans-serif;
            text-align: center;
            /* margin: 20px 0; */
        }
        #{ $self }__info {
            /* height: 400px; */
            font-family: "Jockey One";
            font-size: 26px;
            line-height: 40px;
            color: $grey;
            /* border-radius: 1rem; */
            /* padding: 20px; */
            /* margin: 0; */
            /* opacity: 0; */
        }
    }
}
/* .section3 {

} */


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^OWNER SECTION
 */
.owner {
    color: $grey;
    background-color: black;
    &__container {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* &-img {

    } */
    &__title {
        color: $yellow;
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^CONTACT SECTION
 */
.contact {
    height: 65vh;
    width: 100%;
    color: $grey;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        color: $yellow;
        font-size: 60px;
        font-weight: 500;
        font-family: "Jockey One", sans-serif;
        text-align: center;
        margin: 20px 0;
    }
    &__section {
        height: 200px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__group1, &__group2 {
        width: 45%;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
    }
    &__line {
        width: 230px;
        color: $yellow;
    }
}


/* ======================================================================== */
/* ======================================================================== */
/**
 * ^PAGE FOOTER
 */
.footer {
    width: 100%;
    color: $background;
    background-color: black;
    &__info { /* Footer Information Section */
        height: 160px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__title { /* Footer Title */
        color: $yellow;
        margin: 14px 0;
        font-family: "Play", sans-serif;
    }
    &__link { /* Footer Links */
        height: 22px;
        font-size: 20px;
        color: $background;
        font-family: "Play", sans-serif;
        text-decoration: underline transparent;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: $yellow;
            text-decoration: underline $yellow;
        }
        &--facebook:before {
            font-family: FontAwesome;
            content: "\f09a";
        }
        &--phone:before {
                font-family: FontAwesome;
                content: "\f095";
        }
        &--location:before {
                font-family: FontAwesome;
                content: "\f041";
        }
    }
    &__copyright { /* Copyright Tag */
        float: right;
        color: $background;
        margin: 0;
        text-align: center;
        font-family: "Play", sans-serif;
    }
}









/* ======================================================================== */
/* ======================================================================== */
/**
 *  ^Media Queries that Specify Certain Screen Sizes.
 *  ^This Allows For Responsive Design and different layout styles.
 */
/* For Mobile */
@media only screen and (min-width: 30px) and (max-width: 849px) {
    .nav {
        $self: &;
        &__logo {
            margin: 0 5px;
        }
        &__title {
            height: 100px;
            width: 140px;
        }
        &__title-text {
            font-size: 19px;
            line-height: 1.0;
            letter-spacing: -1px;
            word-spacing: 0px;
        }
        &__hamburger-button {
            display: flex;
        }
        &__menu {
            display: none;
        }
        &--mobile {
            display: flex;
            /* &__menu {
                display: flex;
            } */
            #{ $self }__link {
                width: 100%;
                height: 115.5px;
            }
        }
    }


    .section {
        $self: &;
        width: 100vw;
        /* padding: 0 20px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__info {
            height: 300px;
            width: 300px;
        }
        &__img {
            width: 90vw;
        }
        &--2 {
            height: 800px;
            width: 100vw;
            #{ $self }__group {
                /* width: 100%; */
                height: 580px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
            #{ $self }__title {
                height: 60px;
                font-weight: 500;
                margin: 0;
            }
            #{ $self }__info {
                /* height: 400px; */
                font-family: "Jockey One";
                font-size: 24px;
                line-height: 30px;
                color: $grey;
                border-radius: 1rem;
                /* padding: 20px; */
                margin: 0;
                /* opacity: 0; */
            }
        }
    }

    .owner {
        /* height: 900px; */
        scroll-margin-top: 100px;
        padding: 20px;
        &__container {
            height: 100%;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            /* overflow-wrap: break-word; */
        }
        &__title {
            font-size: 44px;
            margin: 0 auto 22px 0;
        }
        &__p {
            width: 100%;
            margin: 0 0 22px 0;
            font-size: 18px;
            line-height: 1.2;
            overflow-wrap: break-word;
        }
    }


    .contact {
        height: 48vh;
        min-height: 444px;
        width: 100%;
        background-color: $black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        &__title {
            color: $yellow;
            font-size: 40px;
            font-weight: 500;
            font-family: "Jockey One", sans-serif;
            text-align: center;
            margin: 0;
        }
        &__section {
            height: 260px;
            width: 90%;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__group1, &__group2 {
            width: 100%;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
        }
        &__times, &__details {
            margin: 0;
        }
    }

    .footer {
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        &__info {
            font-size: 16px;
        }
        &__copyright {
            width: 90%;
        }
    }
}
/* For Desktop */ /* ====================================================== */
@media only screen and (min-width: 850px) {
    .nav {
        &__logo {
            margin-left: 20px;
            margin-right: 20px;
        }
        &__title {
            height: 100px;
            width: 220px;
        }
        &__title-text {
            font-size: 32px;
            letter-spacing: -2px;
            word-spacing: -8px;
        }

        &__hamburger {
            display: none;
        }

        &__menu {
            min-width: 500px;
            width: 100%;
            max-width: 700px;
        }
        &__link {
            width: 33.33%;
            height: 100%;
        }
    }


    .section {
        $self: &;
        height: 75vh;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__info {
            height: 500px;
            /* width: 100%; */
            font-size: 26px;
            line-height: 40px;
        }
        &__img {
            /* height: 500px; */
            /* width: 600px; */
            width: 40%;
        }
        &--2 {
            #{ $self }__group {
                width: 40%;
                max-width: 500px;
                /* height: 100%; */
                opacity: 0;
            }
            #{ $self }__title {
                height: 60px;
                color: $yellow;
                font-size: 40px;
                font-weight: 500;
                font-family: "Jockey One", sans-serif;
                text-align: center;
                /* margin: 20px 0; */
            }
            #{ $self }__info {
                height: 400px;
                font-family: "Jockey One";
                font-size: 26px;
                line-height: 40px;
                /* color: $grey; */
                border-radius: 1rem;
                /* padding: 20px; */
                margin: 0;
                /* opacity: 0; */
            }
        }
    }

    .owner {
        /* height: 660px; */
        color: $background;
        background-color: black;
        scroll-margin-top: 100px;
        padding: 80px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &__container {
            width: 760px;
            margin: 0 0 24px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            line-height: 1.5;
        }
        /* &-img {

        } */
        &__title {
            font-size: 40px;
            margin: 0 0 24px 0;
        }
        &__p {
            width: 100%;
            margin: 0 0 24px 0;
            font-size: 17px;
            line-height: 1.5;
            letter-spacing: 0.85px;
            word-spacing: 2px;
            overflow-wrap: break-word;
        }
    }

    .contact {
        height: 32vh;
        &__section {
            width: 760px;
        }
    }


    .footer {
        height: 240px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        &__info {
            width: 300px;
        }
        &__copyright {
            width: 300px;
        }
    }

}



/* ======================================================================== */
/**
 *  ^All Style Animations, Including
 *  ^Keyframes and Special Classes
 */
/* Slide In From Bottom */
@keyframes slideIn {
    0% { transform: translateY(-100%); }
    /* 15% { opacity: 0; } */
    100% { transform: translateY(0%); }
}
@-webkit-keyframes slideIn {
    0% { -webkit-transform: translateY(-100%); }
    /* 15% { opacity: 0; } */
    100% { -webkit-transform: translateY(0%); }
}
.animate-slide-in {
    /* Special Class For slideIn Animation */
    will-change: transform;
    animation-name: slideIn;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 300ms;
    -moz-animation-name: slideIn;
    -moz-animation-duration: 300ms;
    -o-animation-name: slideIn;
    -o-animation-duration: 300ms;
}
@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-150%,0,0);
        transform: translate3d(-150%,0,0);
        opacity: 0;
    }
    20% { opacity: 0; }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-150%,0,0);
        transform: translate3d(-150%,0,0);
        opacity: 0;
    }
    20% { opacity: 0; }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
.animate-left {
    /* Special Class For slideInLeft Animation */
    will-change: transform;
    animation-name: slideInLeft;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-name: slideInLeft;
    -webkit-animation-duration: 1000ms;
    -moz-animation-name: slideInLeft;
    -moz-animation-duration: 1000ms;
    -o-animation-name: slideInLeft;
    -o-animation-duration: 1000ms;
}
@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(150%,0,0);
        transform: translate3d(150%,0,0);
        opacity: 0;
    }
    20% { opacity: 0; }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(150%,0,0);
        transform: translate3d(150%,0,0);
        opacity: 0;
    }
    20% { opacity: 0; }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
.animate-right {
    /* Special Class For slideInRight Animation */
    will-change: transform;
    animation-name: slideInRight;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-name: slideInRight;
    -webkit-animation-duration: 1000ms;
    -moz-animation-name: slideInRight;
    -moz-animation-duration: 1000ms;
    -o-animation-name: slideInRight;
    -o-animation-duration: 1000ms;
}